body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  position: relative;
}

a {
  color: #00B7FF;
}

.atsign {
 position: absolute;
 font-weight: 900;
}