body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #103;
  position: relative;
}

a {
  color: #00B7FF;
}

.atsign {
 position: absolute;
 font-weight: 900;
}


/* make the canvas stand out: */
canvas {
	border: 2px dotted red;
}
